{% extends "base.html" %}
{% block body  %}
    <body class="d-flex flex-column min-vh-100">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Music School Management System</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Home
                      <span class="visually-hidden">(current)</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Requests</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">View Students</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Transactions</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Edit Account</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Sign out</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </nav> 
          <div class = "container-fluid"> </div>
          <h3 class="m-4">All Students</h3>
          <div class="row">
              <div class="col-12">
                {% if requests %}
                    <div class="card bg-light mb-4 ms-4 me-4" >
                        <div class="card-header">Requests</div>
                        <div class="card-body">
                         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                            <div class ="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                      <tr>
                                        <th scope="col">Date Sent</th>
                                        <th scope="col">Student</th>
                                        <th scope="col">Lesson Type</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">ACTiONS</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      {% for request in requests %}
                                        <tr>
                                          <td>{{request.DateSent}}</td>
                                          <td>{{request.Student}}</td>
                                          <td>{{request.lesson_type}}</td>
                                          <td>{{request.status}}</td>
                                          <td>
                                            <button type="button" class="btn btn-success me-1" href="{% url 'view_request' request.id %}" data-bs-toggle="modal" 
                                            data-bs-target="#myModal{{request.id}}">View</button>
                                            <!-- Modal - View Request -->
                                            <div class="modal" role="dialog" id="myModal{{request.id}}"  tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
                                              <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <h5 class="modal-title">Request from {{request.Student}}</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                      <span aria-hidden="true"></span>
                                                    </button>
                                                  </div>
                                                  <div class="modal-body">
                                                    <ul class="list-unstyled">
                                                        <li>Request Status : <strong>{{request.status}}</strong> </li>
                                                        <li>Request Date : <strong>{{request.DateSent}}</strong> </li>
                                                        <li>Student Name : <strong>{{request.Student}}</strong> </li>
                                                        <li>Teacher : <strong>{{request.Teacher}}</strong> </li>
                                                        <li>Lesson Duration : <strong>{{request.durations}}</strong> </li>
                                                        <li>Time Of Lesson : <strong>{{request.time}}</strong> </li>
                                                        <li>Lesson Type : <strong>{{request.lesson_type}}</strong> </li>
                                                        {% if request.isFulfilled  %}
                                                          <li>Request Fulfilled : <strong>{{request.Date}}</strong> </li>
                                                        {% endif %}
                                                    </ul>
                                                  </div>
                                                  <div class="modal-footer">
                                                    <button type="button" class="btn btn-btn-primary" data-bs-dismiss="modal">Close</button>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <!--IF REQUEST IS UNFULFILLED, ENABLE OPTION TO BOOK REQUEST-->
                                            {% if not request.isFulfilled %}
                                            {% endif %}
                                          </td>
                                        </tr>
                                      {% endfor %}
                                    </tbody>
                                  </table>
                            </div>

                          </p>
                        </div>
                    </div>
                {% else %}
                    <h5 class="alert alert-primary ms-4 me-4">No Requests</h5>
                {% endif %}
                  
              </div>
          </div>
    </body>
{% endblock body %}