{% extends 'base.html' %}
{% block body %}
    <div class="container vh-100">
        <div class="row h-100">
            <div class="col-12 my-auto">
                <div class ="card cover-card offset-sm-2 offset-md-4 offset-lg-7">
                    <h1 class="cover-heading">Homepage</h1>
                    <p class="cover-text"><a href='#' class="btn btn-lg btn-secondary">Sign up</a></p>
                    <p class="cover-text"><a href='#' class="btn btn-lg btn-secondary">Log in</a></p>
                    <p class="cover-text"><a href='/lessons/student/home' class="btn btn-lg btn-secondary">student testing with blank student</a></p>
                </div>
            </div>
        </div>

    </div>
{% endblock body %}