{% extends 'loginBase.html' %}
{% block body %}
{% block content %}
{%if alert%}
<div class="alert alert-dismissible alert-danger">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <strong>Oh snap!</strong> <a href="{% url 'registerUser' %}" class="alert-link">{{alert}}</a>.
</div>
{%endif%}

<div class="container">
  <body style="background-color:beige;"></body>
  <div class="row">
    <div class="col-12">
      <h1>Request</h1>
      <form action="{% url 'registerUser' %}" method="post">
        {% csrf_token %}
        {% include 'bootstrap_form.html' with form=form %}
        <input type="submit" value="SignUp" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% endblock %} 