{% extends 'studentBase.html' %}
{% block body  %}

<h1> Make New Request </h1>

<a href="{% url 'request' Logged_ID %}" class="btn btn-lg btn-outline-primary">New Request</button></a>

<h1>View your requests</h1>

    <div class="card text-white bg-warning mb-3" >
        <div class="card-header">Pending</div>
        <div class="card-body">

            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Date requested</th>
                    <th scope="col">Teacher</th>
                    <th scope="col">Lesson Date</th>
                    <th scope="col">Lesson Time</th>
                    <th scope="col"></th>
                  </tr>
                </thead>

                <tbody>

                  {% for Bookings in Pending_lessons%}
                    <tr class="table-info">
                        <th scope="row">{{Bookings.date_created}}</th>
                        <td>{{Bookings.lesson_teacher}}</td>
                        <td>{{Bookings.lesson_start_date}}</td>
                        <td>{{Bookings.lesson_time}}</td>
                        <td><a href="{% url 'editrequest' Logged_ID Bookings.id %}" class = "btn btn-primary">Edit/Delete</a> </a></td>
                      </tr>
                  {%endfor%}
                </tbody>
            </table>

        </div>
    </div>




    <div class="card text-white bg-success mb-3" >
        <div class="card-header">Accepted</div>
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Date requested</th>
                <th scope="col">Teacher</th>
                <th scope="col">Lesson Date</th>
                <th scope="col">Lesson Time</th>
                <th scope="col">Payment</th>
                <th scope="col">Invoice</th>
              </tr>
            </thead>

            <tbody>

              {% for Bookings in Accepted_lessons%}
              <!--used when payment in-->
              {%if Bookings.id == 8%}
                <tr class="table-info">
              {%else%}
              <tr class="table-warning">
              {%endif%}
                  <th scope="row">{{Bookings.date_created}}</th>
                    <td>{{Bookings.lesson_teacher}}</td>
                    <td>{{Bookings.lesson_start_date}}</td>
                    <td>{{Bookings.lesson_time}}</td>
                    <!--used when payment in-->
                    <td><a href="{% url 'studentHome' %}" class = "btn btn-primary">Pay</a> </a></td>
                    <td><a href="{% url 'showInvoice' Bookings.id %}" class = "btn btn-primary">Invoice PDF</a> </td>
                  </tr>
              {%endfor%}
            </tbody>
        </table>
        </div>
    </div>




    <div class="card text-white bg-danger mb-3" >
        <div class="card-header">Rejected</div>
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Date requested</th>
                <th scope="col">Teacher</th>
                <th scope="col">Lesson Date</th>
                <th scope="col">Lesson Time</th>
              </tr>
            </thead>

            <tbody>

              {% for Bookings in Rejected_lessons%}
                <tr class="table-info">
                  <th scope="row">{{Bookings.date_created}}</th>
                    <td>{{Bookings.lesson_teacher}}</td>
                    <td>{{Bookings.lesson_start_date}}</td>
                    <td>{{Bookings.lesson_time}}</td>
                  </tr>
              {%endfor%}
            </tbody>
        </table>
        </div>
    </div>
    


{% endblock body  %}